* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
}

.navbar {
  display: none;
}

.topLogo {
  display: none;
}

.compaign {
  display: none;
}

.navbar1 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 30px;
  justify-content: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100% !important;
  height: 100vh;
  background-color: rgb(253 253 253);
  backdrop-filter: blur(5px);
  transition: left 0.5s ease;
  bottom: 0;
}

.toggle-Menu {
  display: flex;
  padding: 10px 20px 30px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  color: #ec5242;
}

.toggle-Menu2 {
  display: flex;
  padding: 10px 20px 20px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.closemenu {
  margin-top: -42px;
  margin-left: 86%;
  position: fixed;
}

.toggleMenu i {
  font-size: 30px;
  color: #ec5242;
  cursor: pointer;
  margin-bottom: 50px;
  width: 10%;
  position: fixed;
}

.fas.fa-bars.bar {
  padding-left: 20px;
}

.homePage {
  display: flex;
  flex-direction: column;
  margin-top: -24px;
  padding: 0 5px 0 16px;
  font-family: "cocogoose", sans-serif;
  width: 80%;
}

.card1 {
  background-image: url(images/header.png);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 80%;
  padding-top: 50px;
}

.hide {
  display: none;
}

.title {
  font-family: "COCOGOOSE", sans-serif;
  padding: 20px 0;
  font-size: 40px;
  font-weight: 900;
  color: #ec5242;
  margin: 0 -1px;
  background-image: url("matrix.jpeg");
  background-size: 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hello {
  color: #ec5242;
  margin: 10px 0;
  font-family: "lato", sans-serif;
}

.mainText {
  font-family: "lato", sans-serif;
  padding: 20px;
  border: 3px solid #fff;
  margin: 2px 0 -27px 0;
  background-color: lightgray;
  align-content: center;
  line-height: 21px;
  font-size: 15px;
  width: fit-content;
}

.line1 {
  width: 38px;
  border-color: #ec5242;
  margin: -8px 0 22px 0;
}

.blik {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.joinbtn {
  display: flex;
  border: none;
  font-size: 17px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  padding: 25px 30px;
  margin: 30px;
  color: #fff;
  background: #ec5242;
  text-align: center;
}

.date {
  font-family: "COCOGOOSE", sans-serif;
  padding: 20px 0;
  font-size: 22px;
  font-weight: 900;
  color: black;
}

.location {
  font-family: "Lato", sans-serif;
  padding: -5px 0;
  font-size: 0.9em;
  font-weight: 500;
  margin-top: -42px;
  margin-bottom: 51px;
  color: black;
}

.btnEntireProgram {
  margin: auto;
  width: 100%;
  color: #fff;
  display: none;
}

.SpeakerSection {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
  margin: auto;
}

.speakerslist {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 0;
}

.speaker {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  height: auto;
}

.speakerimg {
  flex: 1;
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/checked.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 0% 1%;
  padding-top: 15px;
}

.speakerimg img {
  width: 80%;
  margin-bottom: auto;
}

.speakerinfo {
  flex: 1.8;
  height: auto;
  padding: 2px;
  margin: 15px 15px;
}

.speakername {
  font-size: 1.4rem;
  color: var(--color-dark);
  margin-bottom: 0;
  margin-top: auto;
}

.speakertitle {
  font-family: "lato", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0;
  color: #ec5242;
}

.speakerdesc {
  font-size: 14px;
  font-family: "lato", sans-serif;
  color: var(--color-dark);
  margin-bottom: 30px;
}

.morebtn {
  display: none;
  background-color: var(--color-white);
  width: 95%;

  /* margin-top: 30px; */
  border-style: solid;
  border-color: var(--bg-gray);
  font-family: "lato", sans-serif;
  height: 50px;

  /* margin-left: 10px; */
}

.speaker1 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-rows: auto;
  grid-column-gap: 18px;
  gap: 12px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.grid-card img {
  width: 90%;
  height: auto;
  margin-bottom: 12px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d3d3d3;
  background-image: url(./images/article.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.mainProgramCard {
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background-color: #787f7d4d;
  gap: 30px;
}

.mainProgramCard:hover {
  border: 2px solid white;
}

.mainProgramheader {
  text-align: center;
  color: #ec5242;
  margin-left: 10px;
  /* width: 60%; */
}

.mainProgramtext {
  font-size: 13px;
  font-family: "lato", sans-serif;
  color: #fff;
  padding-right: 4px;
  padding-right: -18px;
  margin-left: 15px;
}

.sec1 {
  background: url("./images1/school4.jpeg");
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 2000px rgba(179, 169, 169, 0.438);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.iconProgram {
  margin-left: 1%;
  width: 44px;
  height: auto;
}

.speakerimage1 {
  margin-left: 1%;
  width: 104px;
  height: auto;
}

.speakerName {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  margin-top: -6px;
  margin-left: 10px;
}

.SpeakerTitle {
  font-size: 13px;
  font-family: "Lato", sans-serif;
  margin-top: -19px;
  margin-left: 10px;
  color: #ec5242;
}

.speakerText {
  font-size: 13px;
  font-family: "Lato", sans-serif;
  margin-top: -19px;
  padding-top: 16px;
}

.featuredTitle {
  display: flex;
  justify-content: center;
}

.line2 {
  display: flex;
  justify-content: center;
  width: 38px;
  border-color: #ec5242;
}

.seemore {
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  padding: 10px 113px;
  width: 90%;
  color: black;
  background: none;
  margin: auto;
}

#chevronDown {
  color: #ec5242;
  font-size: 25px;
  margin-top: -18px;
  padding-left: 8px;
  padding-top: -85px;
}

.container4 {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  width: 100%;
  margin-top: 20px;
}

.abtpartnersList {
  justify-content: center;
  font-family: "lato", sans-serif;
  color: #d3d3d3;
  font-size: 20px;
}

.partnerText {
  font-size: 20px;
  justify-content: center;
  color: #fff;
}

.partnersList img {
  width: 25%;
  height: 80px;
  margin: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 20px auto;
  gap: 32px;
  padding: 15px;
}

.footerlogo {
  margin-left: 1%;
  width: 104px;
  height: auto;
}

.navbar li {
  list-style: none;
}

.navbar1 li {
  list-style: none;
}

.abtMenu {
  display: none;
}

.menu-cross {
  color: #ec5242;
  font-size: 23px;
  position: fixed;
  top: 2%;
  left: 10%;
}

.sideBar {
  margin-top: 70px;
}

.sideBar a {
  text-decoration: none;
  color: #ec5242;
  font-size: 20px;
  font-weight: 700;
  margin: 60px;
}

.sideBar li {
  list-style: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #272a31;
    color: white;
    margin-bottom: 35px;
    padding: 5px 20px 5px 0;
  }

  .niicompaign {
    border: 3px solid #ec5242;
    padding: 12px 4px;
    text-align: center;
  }

  .navbarlist {
    display: flex;
  }

  .navbarlist > li {
    display: inline-flex;
    padding: 8px 19px 8px 0;
    flex-direction: row;
    z-index: 1;
  }

  .facebook {
    display: inline-flex;
    padding: 8px 19px 8px 0;
    flex-direction: row;
    z-index: 100;
    opacity: 1;
  }

  .abtMenu {
    display: block;
    display: flex;
    font-size: 17px;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: flex-start;
    gap: 18px;
    list-style: none;
    text-decoration: none;
    background-color: white;
    padding: 18px 24px 22px 39px;
  }

  .abtMenu li a {
    text-decoration: none;
    color: black;
  }

  .compaign {
    border: #272a31;
  }

  .homePage {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
    padding: 0 5px 0 16px;
    font-family: "cocogoose", sans-serif;
  }

  .title {
    font-family: "COCOGOOSE", sans-serif;
    padding: 20px 0;
    font-size: 55px;
    font-weight: 900;
    line-height: 76px;
    text-align: left;
    margin: 0 -1px;
    background-image: url("matrix.jpeg");
    opacity: 0.9;
    background-size: 50%;
    -webkit-text-fill-color: transparent;
  }

  .hello {
    color: #ec5242;
    font-size: 40px;
    line-height: 77px;
    margin-top: 10%;
    font-family: "lato", sans-serif;
  }

  .mainText {
    font-family: "lato", sans-serif;
    padding: 20px;
    border: 3px solid #fff;
    margin: 2px 390px -27px 0;
    background-color: lightgray;
    align-content: center;
    line-height: 21px;
    font-size: 20px;
  }

  .date {
    font-family: "COCOGOOSE", sans-serif;
    padding: 20px 0;
    font-size: 2.5em;
    font-weight: 500;
    color: black;
  }

  .location {
    font-family: "Lato", sans-serif;
    padding: -5px 0;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: -58px;
    margin-bottom: 97px;
    color: black;
  }

  .partnersList img {
    width: 25%;
    height: 200px;
    margin: 15px;
  }

  .mainProgramCard {
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
    margin: 3px;
    background-color: #787f7d4d;
  }

  .mainPragramCardsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px;
    width: 80%;
  }

  .cardsc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btnEntireProgram {
    display: flex;
    color: #fff;
    justify-content: center;
    padding: 55px 0 72px 0;
  }

  .joinbtn {
    display: none;
  }

  .speakerslist {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .container4 {
    display: flex;
    flex-direction: column;
    background-color: #272a31;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 46px;
    width: 100%;
  }

  .partnersList {
    justify-content: center;
    font-size: 3.2em;
    color: #d3d3d3;
  }

  .speaker {
    display: flex;
    justify-content: space-around;
    margin: 15px;
  }

  .speakerimg img {
    margin-right: 10px;
  }

  .morebtn {
    display: none;
  }

  .topLogo {
    margin-left: 9%;
    width: auto;
    /* padding-bottom: 26px; */
    /* padding-top: 6px; */
    height: auto;
    display: inline;
    list-style: none;
    text-decoration: none;
  }

  .toggleMenu {
    display: none;
  }

  .menu-cross {
    display: none;
  }

  .grid-card {
    display: flex;
    gap: 20px;
  }

  .grid-card img {
    width: 80%;
    height: auto;
  }

  .footer {
    width: 80%;
  }
}
